body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 80%;
    max-width: 800px;
}

h1 {
    color: #333;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.info-text {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}
table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td[style*="color: red;"] {
    color: red;
}
td[style*="color: green;"] {
    color: green;
}